services:
  backend:
    build: .
    ports:
      - '8000:80'
    env_file:
      - .env
    volumes:
      - ./app:/norm-fullstack/app
      - ./docs:/norm-fullstack/docs
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
